body {
  max-width: 1080px;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

p {
  font-size: 18px;
}

h1 {
  font-size: 34px;
  text-align: center;
}

.header-box {
  margin: 0 150px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.header-box h1 {
  width: 205px;
  text-align: center;
  border: solid;
  border-width: 1px;
}

nav {
  align-content: center;
}

nav a {
  font-size: 34px;
  color: #000000;
  text-decoration: none;
}

.nav-works {
  margin-left: 15px;
}

nav a:hover {
  text-decoration: underline;
}

.profile-flex {
  width: 205px;
  margin-left: 150px;
  text-align: center;
  border: solid;
  border-width: 1px;
}

.works-flex {
  margin-right: 150px;
}

#main-visual > img {
  width: 100%;
  margin-bottom: 40px;
}

#about {
  margin-bottom: 80px;
}

.about-boxes {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.about-photo {
  margin-right: 100px;
  border-radius: 142px;
}

.about-explain {
  align-content: center;
}

#works {
  margin: 60px 0;
}

.work-boxes {
  width: 70%;
  display: flex;
  margin: 20px auto;
}

.work-box {
  margin: 0 10px ;
  width: 100%;
}

.work-box > img {
  width: 100%;
}

.work-box > p {
  margin-top: 0;
}

#copyright > p {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .header-box {
    margin: 0 5px;
  }

  nav a {
    font-size: 20px;
  }

  #main-visual > img {
    margin-bottom: 10px;
  }
  
  .about-boxes {
    width: 80%;
    flex-direction: column;
  }

  .about-photo {
    margin: 0 auto;
  }

  .about-explain > h2 {
    margin-top: 0;
  }

  #works {
    margin-bottom: 30px;
  }

  .work-boxes {
    width: 100%;
    margin: 0;
    flex-direction: column;
  }

  .work-box {
    margin: 0 0 30px 0;
    text-align: center;

  }
}